.resolucion{
    width: 90%;
    text-align: center;
}
/*Movil*/
@media (max-width:767px){ 
    .desktop{
        display: none;
    }
    .tablet{
        display: none;
    }
}
/*Tablet*/
@media (min-width:768px) and (max-width:990px){
    .desktop{
        display: none;
    }
    .celular{
        display: none;
    }
}
/*computador*/
@media (min-width:991px){
    .celular{
        display: none;
    }
    .tablet{
        display: none;
    }
}